<div class="card">
    <picture class="card-image">
        <source media="(min-width: 640px)" srcset="images/image-product-desktop.jpg 1440w">
        <img src="images/image-product-mobile.jpg" alt="">
    </picture>
    <div class="card-data">
        <div class="card-sup">Perfume</div>
        <div class="card-title">Gabrielle Essence Eau De Parfum</div>
        <div class="card-body">A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator
            for
            the House of CHANEL.</div>
        <div class="card-price">
            <div class="card-price-new">$149.99</div>
            <div class="card-price-old">$169.99</div>
        </div>
        <button class="card-cta"><img src="svg/icon-cart.svg" alt=""><span>Add to Cart</span></button>
    </div>
</div>